body, html, .fondo2{
	width: 100%;
	height:100%;
	font-family: 'Oswald', sans-serif;
}
*{
	font-family: 
}
header a{
	display: inline-block;
	padding-left:30px;
	color: black;
}
a{
	text-decoration: none;
}
header a:hover{
		color: purple;
}
header{
	text-align: center;
	padding: 20px;
}
.fondo-nombre{

	background-image: url("../images/background.jpg");
	height: 50%;
	background-size: 100%;
	padding: 3%;
}

nav, img, p, h3{
	margin-left: 0px;
	padding: 20px;
}
.logo{
	text-align: center;
}

/*About me*/

.fondo-about-me{
	background-image: url("../images/tile1.png");
	height:60%;
	width: 100%;
	background-repeat: 100%;
}
p, h1{
	color: white;
	text-align: center;
}

h2{
	}
p{
	margin-left: 0px;
}
section p{
	color: black;
	text-align: left;
}
 h3{
	font-family: 'oswald', sans-serif;
	color: purple;
	text-align: center;
	font-size: 40px;
	margin-top: 0px;
}
h4{
	font-family: 'oswald', sans-serif;
	color: purple;
	text-align: center;
	margin-top: 0px;
}
section .titulo {
	margin-left: 5%;
}
section p{
	padding-right: 0px;
	font-size: 18px;
}
section .col-4{
	padding:2%;
}
.col-4 img{
	border: 1px solid black;
	padding: 10px;
	width: 180px;
	height: 180px;
}
.col-8 p{
	margin-left: -10px;
}

/*My favourite things*/

article .col-3{
	padding: 2%;
}
.col-3 img{
	border-radius: 100%;
	border: 1px solid purple;
	padding: 7px;
	width: 230px;
	height: 230px;
	margin-top: 80px;
	margin-bottom: 50px;
}

/*Redes sociales*/
.fondo-redes{
	background-image: url("../images/tile2.png");
	height: 60%;
	background-repeat: 100%;
	padding: 3%;
}
footer{
	padding: 0px;
	text-align: center;
}
footer .col-4 img{
	border: none;
}
footer a:hover{
	background: purple;
}
